<h1><%= @titre %></h1>

<ul>
  <li><%= link_to "S'inscrire", "users/new", :class => "signup_button round" %></li>
  <li><%= link_to "Bibliothèque", "pages/lybrary", :class => "signup_button round" %></li>
  <li><%= link_to "Ajouter un livre", "books/new", :class => "signup_button round" %></li>
</ul>