<% if signed_in? %>
      <%= render 'shared/book_form' %>
      <div class="row">
        <div class="col-md-4">
          <%= render 'shared/feed' %>
        </div>
        <div class="col-md-8">
          <%= render 'shared/user_info' %>
        </div>
      </div>
<% else %>
    <h1>App</h1>
    <p>
      Page d'accueil de la bibliothèque
    </p>

    <%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %>
<% end %>